@font-face {
    font-family: "Sofia Sans";
    font-display: swap;
    src: url("../fonts/SofiaSans.woff2") format("woff2"), 
         url("../fonts/SofiaSans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: none;
}

.header-nav-anchor{
    display: none;
}

.header-nav-useful button{
    display: none;
}

.header-achievements{
    display: none;
}

.footer-contacts-messengers{
    display: none;
}

.footer-contacts-messengers img{
    display: none;
}

.container{
    max-width: 310px;
    margin: 0 auto;
    padding: 30px 0;
}

.background{
    height: 560px;
    background: url("../img/Rectangle.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-logo{
    display: flex;
    align-items: center;
    font-family: "Sofia Sans"; 
    line-height: 80%;
    color: #46B1DE;
}

.header-nav-logo p{
    font-size: 17px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 4px;
}

.header-nav-logo span{
    font-size: 12px;
}

.header-nav-useful{
    display: flex;
    align-items: center;
}

.header-nav-useful-tel{
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.header-nav-useful-tel a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #1B1D1F;
    text-decoration: none;
    margin-left: 3px;
}

.header-title{
    margin-top: 47px;
    font-family: 'Roboto'; 
    font-style: normal;
    position: relative;
}

.header-title-text{
    text-align: center;
}

.header-title-text h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0.1em;
    color: #1B1D1F;
}

.header-title-text span{
    color: #46B1DE;
}

.header-title-text p{
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #1B1D1F;
    margin-top: 5px;
}

.header-title-button{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.header-title-button-1{
    width: 100px;
    height: 35px;
    background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
    box-shadow: 0px 1.14444px 5.72222px #46B1DE;
    border-radius: 4.57778px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}

.header-title-button-2{
    width: 100px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #DDE0DC;
    box-shadow: 0px 2px 10px #DDE0DC;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #46B1DE;
}

.header-title-img{
    position: absolute;
    top: 130px;
    right: 0;
}

footer{
    background: linear-gradient(190deg, #A1C7D4 5%, #0680AA 95%);
}

.footer-logo{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.footer-logo p{
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 80%;
    color: #0F2D4A;
    margin-left: 6px;
}

.footer-logo span{
    font-size: 19px;
}

.footer-info{
    display: flex;
    justify-content: space-between;
}

.footer-info a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #0F2D4A; 
}

.footer-info-nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-info-schedule{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 15px;
    line-height: 135%;  
    color: #0F2D4A;
    margin-top: 15px;
}

.footer-info-schedule-1{
    font-weight: 600;
    margin-left: 5px;
}

.footer-info-schedule-2{
    font-weight: 400;
    margin-top: 5px;
}

.footer-info-nav button{
    border: none;
    background: none;
}

.footer-contacts{
    margin-top: 45px;
}

.footer-contacts p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17.1613px;
    line-height: 135%;
    color: #FFFFFF;
}

.footer-contacts span{
    font-weight: 600;
    font-size: 21px;
}

.footer-contacts a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17.1613px;
    line-height: 135%;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 13px;
}

.footer-contacts div{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.footer-contacts-title{
    margin-bottom: 27px;
}

.footer-contacts-name{
    margin-bottom: 13px;
}

.footer-contacts-address{
    margin-bottom: 26px;
}

.footer-contacts-1{
    margin-bottom: 13px;
}

.footer-contacts-3{
    margin-bottom: 13px;
}

.footer-contacts-copiright{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    color: #FFFFFF;
    text-align: right;
    margin-top: 36px;
}

@media (min-width: 480px) {
    main{
        display: initial;
    }
    
    .header-nav-anchor{
        display: initial;
    }
    
    .header-nav-useful button{
        display: initial;
    }
    
    .header-achievements{
        display: initial;
    }
    
    .footer-contacts-messengers{
        display: initial;
    } 

    .container{
        max-width: 1180px;
        padding: 0 30px;
    }

    .background{
        height: 650px;
        margin-bottom: 150px;
    }

    .header-nav-logo p{
        font-size: 38px;
        line-height: 80%;
    }

    .header-nav-logo span{
        font-size: 27px;
    }

    .header-nav-anchor{
        width: 30%;
        display: flex;
        justify-content: space-between;
    }

    .header-nav-anchor a{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #1B1D1F; 
        text-decoration: none;
        margin: 0 10px;
        position: relative;
        bottom: 9px;
    }

    .header-nav-useful-tel a{
        font-size: 16px;
    }

    .header-nav-useful-button{
        margin-left: 15px;
        position: relative;
        bottom: 8px;
    }   

    .header-nav-useful-button button{
        border: none;
        background: none;
        font-size: 20px;
    }

    .header-nav-useful-button button:first-child{
        border-right: 1px solid black;
        padding-right: 5px;
    }

    .header-title{
        max-width: 500px;
    }

    .header-title-text{
        text-align: left;
    }

    .header-title-text h1{
        font-size: 40px;
    }

    .header-title-text p{
        font-size: 16px;
        margin-top: 30px;
    }

    .header-title-button{
        margin-top: 48px;
    }

    .header-title-button-1{
        width: 180px;
        height: 60px;
        background: linear-gradient(97.59deg, #46B1DE 9.8%, #0591CC 95.1%);
        box-shadow: 0px 2px 10px #46B1DE;
        border-radius: 8px;
        font-size: 19px;
    }

    .header-title-button-2{
        width: 180px;
        height: 60px;
        font-size: 19px;
    }

    .header-title-img{
        top: -85px;
        right: -50vw;
    }

    .header-achievements{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 65px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        z-index: 2;
        position: relative;
    }

    .header-achievements div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 120px;
        background: #FFFFFF;
        border: 1px solid #D8E1E1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }

    .header-achievements-number{
        font-size: 65px;
        color: #46B1DE;
        margin-right: 10px;
    }

    .header-achievements-text{
        max-width: 140px;
    }

    main{
        margin-top: 200px;
    }

    .choose{
        max-width: 1200px;
        margin: 0 auto;
    }

    .choose-text{
        margin-bottom: 50px;
        text-align: center;
    }

    .choose-text h2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 130%;
        color: #1B1D1F;
    }

    .choose-text span{
        color: #46B1DE;
        font-weight: 600;
    }

    .choose-text p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }

    .choose-blocks{
        display: flex;
        max-width: 1020px;
        margin: 0 auto;
        justify-content: space-between;
        flex-wrap: wrap;
        background: #A1C7D4;
        border-radius: 12px;
        padding: 20px 20px 5px 20px;
    }

    .choose-block{
        max-width: 300px;
        background: #FFFFFF;
        border-radius: 8px;
        border: 2px solid black;
        padding: 20px;
        margin-bottom: 20px;
    }

    .choose-block-title{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    .choose-block-title-number{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 47px;
        color: #46B1DE; 
        margin-right: 7px;
    }

    .choose-block-title-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #46B1DE;
    }

    .choose-block-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #1B1D1F;
    }

    .form{
        max-width: 830px;
        margin: 0 auto;
        text-align: center;
        margin-top: 100px;
        background: #FFFFFF;
        border: 1px solid #f1cdcd;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 30px;
        margin-bottom: 90px;
    }

    .form-info-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 130%;
        text-transform: uppercase;
        color: #1B1D1F;
        margin-bottom: 7px;
    }

    .form-info-text{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #1B1D1F;
        margin-bottom: 45px;
    }

    .form-input form{
        display: flex;
        justify-content: space-between;
    }

    .form-input-1{
        display: flex;
        align-items: center;
    }

    .form-input-1 img{
        margin-right: 10px;
        border-right: 1px solid black;
        padding-right: 5px;
    }

    .form-input-1 input{
        border: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 140%;
        color: rgba(27, 29, 31, 0.51);
    }

    .form-input button{
        width: 180px;
        height: 57px;
        background: #46B1DE;
        border-radius: 8px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 19px;
        line-height: 140%;
        color: #FFFFFF;
        border: none;
    }

    .form-img{
        max-width: 1020px;
        margin: 0 auto;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    .wraper{
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
    }

    .footer-name{
        max-width: 500px;
        margin-top: 20px;
    }

    .footer-logo{
        margin-bottom: 30px;
    }

    .footer-logo p{
        font-size: 39px;
    }

    .footer-logo span{
        font-size: 27px;
    }

    .footer-info-nav a{
        font-size: 20px;
    }

    .footer-info-nav button{
        font-size: 20px;
    }

    .footer-info-nav button:first-child{
        border-right: 1px solid #000;
        padding-right: 10px;
    }

    .footer-info-nav button:last-child{
        padding-left: 9px;
    }

    .footer-info-schedule-1{
        font-size: 20px;    
        margin-bottom: 7px;
    }

    .footer-info-schedule-2{
        font-size: 20px;
        line-height: 135%;
    }

    .footer-contacts{
        max-width: 500px;
    }

    .footer-contacts-title span{
        font-size: 34px;
    }

    .footer-contacts-name{
        font-size: 20px;
    }

    .footer-contacts-address{
        font-size: 20px;
    }

    .footer-contacts-1 a{
        font-size: 20px;
    }

    .footer-contacts-3 a{
        font-size: 20px;
    }

    .footer-contacts-4 a{
        font-size: 20px;
    }

    .footer-contacts-messengers{
        position: relative;
        right: 12px;
        margin-bottom: 7px;
    }

    .footer-contacts-copiright{
        font-size: 13px;
        padding-bottom: 15px;
    }
}